@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@{
    //logo path
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/logo.png";

    //store name
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
}

@*<div class="header">
    @Html.Widget("header")
    <div class="header-upper">
        <div class="header-selectors-wrapper">
            
            @Html.Action("TaxTypeSelector", "Common")
            
            @Html.Action("CurrencySelector", "Common")
            
            @Html.Action("LanguageSelector", "Common")
            
            @Html.Widget("header_selectors")
        </div>
        <div class="header-links-wrapper">
            @Html.Action("HeaderLinks", "Common")
            @Html.Action("FlyoutShoppingCart", "ShoppingCart")
        </div>
    </div>
    <div class="header-lower">
        <div class="header-logo">
            <a href="@Url.RouteUrl("HomePage")">
                <img title="" alt="@storeName" src="@Url.Content(logoPath)">
            </a>
        </div>
        <div class="search-box store-search-box">
            @Html.Action("SearchBox", "Catalog")
        </div>
    </div>
</div>*@

<div class="header">
    @Html.Widget("header")
    <div class="header-upper">
        <table class="show-greater-417">
            <tr>
                <td class="header-logo">
                    <a href="@Url.RouteUrl("HomePage")">
                        <img title="" alt="@storeName" src="@Url.Content(logoPath)">
                    </a>
                </td>
                <td class="header-links-wrapper">
                    @Html.Action("HeaderLinks", "Common")
                    @Html.Action("FlyoutShoppingCart", "ShoppingCart")
                </td>
            </tr>
        </table>
        <div class="hide-greater-417">
            <div class="header-logo">
                <a href="@Url.RouteUrl("HomePage")">
                    <img title="" alt="@storeName" src="@Url.Content(logoPath)">
                </a>
            </div>
            <div class="header-links-wrapper">
                @Html.Action("HeaderLinks", "Common")
                @Html.Action("FlyoutShoppingCart", "ShoppingCart")
            </div>
        </div>
    </div>
    <div class="header-lower">
        <table class="show-greater-1000">
            <tr>
                <td class="header-menu">
                    @Html.Action("TopMenu", "Catalog")
                </td>
                <td class="search-box store-search-box">
                    @Html.Action("SearchBox", "Catalog")
                </td>
            </tr>
        </table>
        <div class="hide-greater-1000">
            <div class="header-menu">
                @Html.Action("TopMenu", "Catalog")
            </div>
            <div class="search-box store-search-box">
                @Html.Action("SearchBox", "Catalog")
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function () {
            $('.menu-toggle').click(function () {
                $(this).siblings('.top-menu.mobile').slideToggle('slow');
            });
            $('.top-menu.mobile .sublist-toggle').click(function () {
                $(this).siblings('.sublist').slideToggle('slow');
            });
        });
</script>